/* Body and General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fab700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /*background-color: #5c5c5c;*/
    background-image: url('data/icons/ui/background.png');
    background-repeat: repeat;
}

h1 {
    margin-bottom: 20px;
}

#file-selector, #controls {
    margin-bottom: 20px;
}

/* Map Container Styles */
#map-container {
    width: 1150px;
    height: 850px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Hide overflow */
    background-color: rgb(34, 34, 34);
    border: 1px solid #d19900;
}

/* Text Panel Styles */
#text-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px; /* Adjust width as needed */
    height: 100%;
    color: #000000;
    background: #686868; /* Background color for contrast */
    padding: 10px;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
    overflow-y: auto; /* Allow vertical scrolling if content overflows */
}

/* Table Container Styles */
#table-container {
    overflow: hidden;
    max-width: 100%;
    max-height: 80vh;
    left: 300px;
    position: absolute;
    background-color: rgb(56, 56, 56);
    border: 1px solid #000000;
    position: relative; /* Ensure correct positioning for scrolling */
    transition: opacity 1s ease; /* Smooth transition for opacity */
    opacity: 0; /* Start hidden */
    user-select: none; /* For most modern browsers */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}

#table-container.visible {
    opacity: 1; /* End visible */
}

#table-container:active {
    cursor: grabbing;
}

/* Table and Cell Styles */
table {
    border-collapse: collapse;
    table-layout: auto;
    transform-origin: 0 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    position: relative; /* For tooltip positioning */
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

img {
    width: 32px;
    height: 32px;
}

.grey-bg {
    background-color: grey;
}

.black-bg {
    background-color: black;
}

/* Tooltip Styles */
.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    padding: 5px;
    font-size: 14px; /* Base font size */
    white-space: nowrap;
    z-index: 1000;
    display: none; /* Hide tooltips by default */
    transform-origin: left top;
}

td:hover .tooltip {
    display: block;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

/* Loading Container Styles */
#loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, sans-serif;
    z-index: 9999; /* Ensure it sits above other elements during loading */
    transition: opacity 1s ease; /* Smooth transition for opacity */
}

#loading-container.hidden {
    opacity: 0; /* Hide with opacity transition */
    pointer-events: none; /* Disable interaction with hidden loading container */
    z-index: -2;
}

#loading-bar {
    width: 80%;
    max-width: 600px;
    background: #333;
    border-radius: 5px;
    overflow: hidden;
}

#loading-progress {
    width: 0;
    height: 30px;
    background: #4caf50;
    text-align: center;
    line-height: 30px;
    color: white;
    font-weight: bold;
    transition: width 0.5s ease; /* Smooth transition for width changes */
}

#loading-text {
    margin-top: 10px;
}

#myCanvas {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgb(255, 0, 0); /* Optional border for canvas */
    pointer-events: none;
    z-index: 993399;
}